nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
}
nav li a{
    text-decoration: none;
    color:green;
}
nav li:hover{
    background-color: brown;
    border-radius: 10px;
}
nav li  .dropdown {
    color: rgb(248, 255, 255);
    display: none;
    position: absolute;
    background-color: rgb(19, 23, 22);
    padding-left: 10px;
    border-radius: 10px;
    
}
nav li:hover>  .dropdown {
    display: block; 
}

nav li:hover>  .dropdown a {
    display: block;
    color: blanchedalmond;
}
